<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main/table/css/style.css}" />
    <script th:src="@{/main/table/js/app.js}" defer></script>
    <title>Table selection</title>
</head>
<body>
    <div id="container">
        <div class="left"> 
            <button th:each="item: ${tables}" th:text="${item.number}" class="btn" th:data-id="${item.id}"  th:classappend="${item.status.status} "></button>


        </div> 
        <div class="right">
            <div class="infor">
                <h1>Table Infor</h1>
                <div class="content">

                   <div class="number">
                    Table:&nbsp;&nbsp;
                    <div class="value">02</div>
                   </div>

                   <div class="status">
                    Status:
                    <div class="value">available</div>
                   </div>

                   <div class="order">
                    Orders:
                    <div class="value">
                        <div class="data">Ice americano (R x 1)</div>
                        <div class="data">Ice mocha (L x 1)</div>
                    </div>
                   </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="btn">
              
                    <button>Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>Hello world</h1> -->
</body>
</html>